:host {
  .business-name {
    cursor: pointer;
  }

  .app-sidenav {
    min-width: 200px;
    max-width: 300px;
  }

  .app-body {
    overflow: auto;
    padding: 7px;
    min-width: calc(100% - 14px);
    min-height: calc(100% - 14px);
    width: calc(100% - 14px);
    height: calc(100% - 14px);
  }

}
