@import "../../../../styles/mixins";

:host{

  .fab-button-save{
    @include fixed-fab-button();
  }

  mat-form-field{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .upper-case{
    text-transform: uppercase;
  }

  [hidden] {
    display: none;
  }

}
