<mat-toolbar>
  <button mat-icon-button routerLink="../">
    <mat-icon fontIcon="fa-arrow-left" class="fa-lg"></mat-icon>
  </button>
  <h3>Nueva entrada</h3>
  <span fxFlex></span>
  <button mat-raised-button *ngIf="!isDesktopBreakpoint" type="submit" form="theForm" color="primary">
    <mat-icon fontIcon="fa-floppy-o" class="fa-mat"></mat-icon>
  </button>
</mat-toolbar>
<div fxLayout="row">
  <div fxFlex="90" fxFlex.gt-sm="80" fxFlexOffset="5" fxFlexOffset.gt-sm="10">
    <form [formGroup]="form" novalidate (ngSubmit)="submitForm()" (keydown.enter)="$event.preventDefault()"
          id="theForm">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px">
        <div fxFlex fxFlex.gt-sm="50">
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="picker" placeholder="Fecha" formControlName="inputDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [touchUi]="!isDesktopBreakpoint"></mat-datepicker>
            <mat-error *ngIf="form.controls.inputDate.hasError('required')">
              Debe ingresar una fecha valida
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex fxFlex.gt-sm="50">
          <div fxLayout="row" fxLayoutGap="20px">
            <div fxFlex="50">
              <mat-form-field class="full-width">
                <mat-select placeholder="Hora" formControlName="inputHour" required>
                  <mat-option *ngFor="let hour of hours" [value]="hour">
                    {{ hour | leadingZeros:2 }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls.inputHour.hasError('required')">
                  Debe seleccionar una hora valida
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50">
              <mat-form-field class="full-width">
                <mat-select placeholder="Minuto" formControlName="inputMinute" required>
                  <mat-option *ngFor="let minute of minutes" [value]="minute">
                    {{ minute | leadingZeros:2 }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls.inputMinute.hasError('required')">
                  Debe seleccionar una hora valida
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px">
        <div fxFlex fxFlex.gt-sm="40">
          <mat-form-field class="full-width">
            <input type="text" placeholder="Nombres y Apellidos" formControlName="name" matInput
                   [matAutocomplete]="auto" required maxlength="100" class="upper-case">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="nameDisplay">
              <mat-option *ngFor="let person of personList | async" [value]="person">
                {{ person.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="form.controls.name.hasError('required')">
              Debe ingresar un nombre valido
            </mat-error>
            <mat-error *ngIf="form.controls.name.hasError('maxlength') || form.controls.name.hasError('minlength')">
              Debe ingresar un nombre entre (5 y 10 caracteres)
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex fxFlex.gt-sm="30">
          <mat-form-field class="full-width">
            <mat-select placeholder="Motivo de ingreso" formControlName="inputReason" required>
              <mat-option *ngFor="let type of inputReasonTypeList | async" [value]="type.id">
                {{ type.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.inputReason.hasError('required')">
              Debe seleccionar un motivo de ingreso
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex fxFlex.gt-sm="30">
          <mat-form-field class="full-width">
            <mat-select placeholder="Clase de material" formControlName="materialType" required>
              <mat-option *ngFor="let materialType of materialTypeList | async" [value]="materialType.id">
                {{ materialType.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.materialType.hasError('required')">
              Debe seleccionar una clase de material
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px">
        <div fxFlex fxFlex.gt-sm="40">
          <mat-form-field class="full-width">
            <mat-select placeholder="Tipo de vehiculo" formControlName="vehicleType" required>
              <mat-option *ngFor="let vehicle of vehicleTypeList | async" [value]="vehicle.id">
                {{ vehicle.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.vehicleType.hasError('required')">
              Debe seleccionar un tipo de transporte
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex fxFlex.gt-sm="30" *ngIf="form.value.vehicleType != '0'">
          <mat-form-field class="full-width">
            <input type="text" placeholder="Placa" formControlName="vehiclePlate" matInput
                   [matAutocomplete]="plate" required maxlength="30">
            <mat-autocomplete #plate="matAutocomplete" [displayWith]="vehicleDisplay">
              <mat-option *ngFor="let vehicle of vehicleList | async" [value]="vehicle">
                {{ vehicle.plate }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="form.controls.vehiclePlate.hasError('required')">
              Debe ingresar un placa valida
            </mat-error>
            <mat-error
              *ngIf="form.controls.vehiclePlate.hasError('maxlength') || form.controls.vehiclePlate.hasError('minlength')">
              Debe ingresar una placa no mayor a 30 caracteres
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex fxFlex.gt-sm="30" *ngIf="form.value.vehicleType != '0'">
          <mat-form-field class="full-width">
            <mat-select placeholder="Color del vehiculo" formControlName="vehicleColor" required>
              <mat-option *ngFor="let color of vehicleColorList| async" [value]="color.id">
                {{ color.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.vehicleColor.hasError('required')">
              Debe seleccionar un color valido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px">
        <div fxFlex fxFlex.gt-sm="70">
          <mat-form-field class="full-width">
            <input type="text" placeholder="Persona de contacto" formControlName="contactPerson" matInput
                   [matAutocomplete]="contactPersonAuto" maxlength="100">
            <mat-autocomplete #contactPersonAuto="matAutocomplete" [displayWith]="nameDisplay">
              <mat-option *ngFor="let person of contactPersonList | async" [value]="person">
                {{ person.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="form.controls.contactPerson.hasError('invalidAutoOption')">
              Debe seleccionar una persona de la lista
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex fxFlex.gt-sm="30">
          <mat-form-field class="full-width">
            <mat-select placeholder="Area" formControlName="area" required>
              <mat-option *ngFor="let area of areaList | async" [value]="area.id">
                {{ area.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.area.hasError('required')">
              Debe seleccionar un area valida
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px">
        <div fxFlex>
          <mat-form-field class="full-width">
            <textarea type="text" placeholder="Observaciones" formControlName="observation" matInput
                      maxlength="500"></textarea>
          </mat-form-field>
        </div>
      </div>
      <button mat-fab class="fab-button-save" color="primary" type="submit" *ngIf="isDesktopBreakpoint">
        <mat-icon fontIcon="fa-save" class="fa-mat"></mat-icon>
      </button>
    </form>
  </div>
</div>

