<mat-list>
  <h3 mat-subheader>Garita</h3>
  <mat-list-item>
    <mat-icon fontIcon="fa-car" matListIcon></mat-icon>
    <button class="text-left" mat-button matLine routerLink="/checkpoint/check-in" routerLinkActive="active-link">Ingreso/salida vehiculos</button>
  </mat-list-item>
  <mat-list-item>
    <mat-icon fontIcon="fa-book" matListIcon></mat-icon>
    <button class="text-left" mat-button matLine routerLink="/checkpoint/logbook" routerLinkActive="active-link">Bitacora</button>
  </mat-list-item>
</mat-list>
